<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>First run</title>
  	<link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.min.js"></script>
</head>

<body>
	<div class="container pt-xl-5">
        <div class="card">
            <div class="card-header">Before we begin, log into your server and run:</div>
            <div class="card-body">gopherbin create-superuser -config /path/to/config.toml -email johnDoe@example.com -fullName "Your name" -password superSecretPassword</div>
        </div>
    </div>
</body>

</html>
