<!DOCTYPE html>
<html>
   <head>
      <title>Paste it</title>
      <meta name = "viewport" content="width = device-width, initial-scale = 1">
      <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   </head>
   <body>
      <form role = "form">
         <div class = "form-group">
            <label for = "name">Player</label>
            <input type = "text" class = "form-control" placeholder = "Player Name">
         </div>
         <div class = "form-group">
            <label for = "name">Rank</label>
               <input type = "text" class = "form-control" placeholder = "Player Rank">
         </div>
         <div class = "form-group">
            <label for = "name">Player Details</label>
            <textarea class = "form-control" rows = "20" placeholder = "Player Details"></textarea>
         </div>
      </form>
   </body>
</html>