<html>
    {{template "header"}}
    <body>
        {{template "navbar" dict "UserInfo" .UserInfo }}
        <div class="container-fluid">
            <div class="col-sm-12">
                <form role="form" method="POST">
                    <div class="row">
                        {{ with .Errors.TitleError }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <div class="col-sm-12 form-group">
                            <input type="text" name="title" class="form-control" placeholder="Title">
                        </div>
                    </div>

                    <div class="row">
                        {{ with .Errors.DateError }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <div class="col-sm-3 form-group">
                            <input class="form-control" id="datepicker" name="date" placeholder="Expires" type="text" value="" readonly/>
                            <script>
                                today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
                                $('#datepicker').datepicker({
                                    uiLibrary: 'bootstrap4',
                                    minDate: today
                                });
                            </script>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <select class="selectpicker" name="language" data-live-search="true">
                                <option selected value>Select syntax</option>
                                {{range $name, $value := .Languages }}
                                <option value={{$value}}>{{$name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input form-control" id="makePublic" name="public">
                                <label class="custom-control-label" for="makePublic">Public</label>
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        {{ with .Errors.DataError }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <div class="col-sm-12 form-group">
                            <textarea class="form-control" name="data" rows="10" placeholder="Contents"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Paste!</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
