<html>
    {{template "header"}}
    <body>
        {{template "navbar" dict "UserInfo" .UserInfo }}
        <div class="container-fluid">
            <div class="col-sm-12">
                <form role="form" id="paste" method="POST">
                    <div class="row">
                        {{ with .Errors.TitleError }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <div class="col-sm-12 form-group">
                            <input type="text" value="{{.Values.title}}" name="title" class="form-control" placeholder="Title">
                        </div>
                    </div>

                    <div class="row">
                        {{ with .Errors.DateError }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <div class="col-sm-3 form-group">
                            <input class="form-control" id="datepicker" name="date" placeholder="Expires" type="text" value="{{.Values.date}}" readonly/>
                            <script>
                                today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
                                $('#datepicker').datepicker({
                                    uiLibrary: 'bootstrap4',
                                    minDate: today
                                });
                            </script>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <select class="selectpicker" name="language" data-live-search="true">
                                <option selected value>Select syntax</option>
                                {{range $name, $value := .Languages }}
                                {{ if eq (index $.Values "language") $value }}
                                    <option value={{$value}} selected>{{$name}}</option>
                                {{else}}
                                    <option value={{$value}}>{{$name}}</option>
                                {{end}}
                                {{end}}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <div class="custom-control custom-checkbox">
                                <input {{ if eq (index .Values "public")  "on" }}checked{{ end }} type="checkbox" class="custom-control-input form-control" id="makePublic" name="public">
                                <label class="custom-control-label" for="makePublic">Public</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <div class="custom-control custom-checkbox">
                                <input {{ if eq (index .Values "encrypt")  "on" }}checked{{ end }} type="checkbox" class="custom-control-input form-control" id="encrypt" name="encrypt">
                                <label class="custom-control-label" for="encrypt">Encrypt</label>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="encrypt-passphrase" style="display:none">
                        <div class="col-sm-12 form-group encrypt-phrase">
                            <input type="password" class="passphrase" id="passphrase" placeholder="Encryption passphrase">
                        </div>
                    </div>
            
                    <div class="row">
                        {{ with .Errors.DataError }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <div class="col-sm-12 form-group">
                            <textarea class="form-control tab-enabled" name="data" rows="10" placeholder="Contents">{{.Values.data}}</textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Paste!</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            $(function () {
                if ($('input[name="encrypt"]').prop("checked") == false) {
                    $('div[id="encrypt-passphrase"]').hide();
                } else {
                    $('div[id="encrypt-passphrase"]').fadeIn();
                }

                //show it when the checkbox is clicked
                $('input[name="encrypt"]').on('click', function () {
                    if ($(this).prop('checked')) {
                        $('div[id="encrypt-passphrase"]').fadeIn();
                    } else {
                        $('div[id="encrypt-passphrase"]').hide();
                    }
                });
            });

            $('#paste').submit(function(event) {
                event.preventDefault();

                if ($('input[name="encrypt"]').prop("checked") == true) {
                    var passphrase = $('input[id="passphrase"]').val();
                    if (passphrase.length == 0) {
                        $('input[id="passphrase"]').prop("style", "background-color:red;color:white;");
                        return false;
                    }
                    var hash = sha256.create();
                    hash.update(passphrase);
                    var key = hash.array();
                    var $pasteData = $('textarea[name="data"]');
                    if($pasteData){
                        var pasteBytes = aesjs.utils.utf8.toBytes($pasteData.val());
                        var aesCtr = new aesjs.ModeOfOperation.ctr(key);
                        var encryptedBytes = aesCtr.encrypt(pasteBytes);
                        var encryptedHex = aesjs.utils.hex.fromBytes(encryptedBytes);
                        $pasteData.val(encryptedHex);
                    }
                }
                $(this).unbind('submit').submit();
            })
        </script>
    </body>
</html>
