<!DOCTYPE html>
<html lang="en" >

<head>
  	<meta charset="UTF-8">
  	<title>Login</title>
  	<link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.min.js"></script>
</head>

<body>
	<div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
						<form role="form" action="/login" method="POST">
							{{ with .Errors.Authentication }}
        					<p class="error">{{ . }}</p>
        					{{ end }}
                            <div class="form-group">
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="form-group">
                                <button id="sendlogin" class="btn btn-primary" type="submit">login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
