<!DOCTYPE html>
<html lang="en" >
{{template "header"}}
<body>
    {{template "navbar" dict "UserInfo" .UserInfo }}
	<div class="container-fluid pt-xl-5">
        {{ if .Error }}
        <h2>{{ .Error }}</h2>
        {{else}}
        <h2> {{.Paste.Name }} {{if .Paste.Public}}(Public){{end}}</h2>
        <pre>
            {{if .Paste.Language}}
            <code class="{{.Paste.Language}} overflow-wrap">{{.Paste.Data}}</code>
            {{else}}
            <code class="overflow-wrap">{{.Paste.Data}}</code>
            {{end}}
        </pre>
        {{end}}
    </div>
</body>

</html>
