<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>First run</title>
  	<link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/agate.min.css">
    <script src="/static/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
	<div class="container pt-xl-5">
        <h2> {{.Name }} </h2>
        <pre>
            {{if .Language}}
            <code class={{.Language}}>{{.Data}}</code>
            {{else}}
            <code>{{.Data}}</code>
            {{end}}
        </pre>
    </div>
</body>

</html>
